<div id="<%= dom_id employee %>">
  <p>
    <strong>Name:</strong>
    <%= employee.name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= employee.last_name %>
  </p>

  <p>
    <strong>Sex:</strong>
    <%= employee.sex %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= employee.position %>
  </p>

  <p>
    <strong>Shift:</strong>
    <%= employee.shift %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= employee.status %>
  </p>

</div>
