<div id="<%= dom_id client %>">
  <p>
    <strong>Name:</strong>
    <%= client.Name %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= client.LastName %>
  </p>

  <p>
    <strong>Sex:</strong>
    <%= client.Sex %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= client.birthDate %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= client.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= client.phone %>
  </p>

  <p>
    <strong>State:</strong>
    <%= client.state %>
  </p>

  <p>
    <strong>City:</strong>
    <%= client.city %>
  </p>

  <p>
    <strong>Colony:</strong>
    <%= client.colony %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= client.street %>
  </p>

  <p>
    <strong>Housenumber:</strong>
    <%= client.houseNumber %>
  </p>

  <p>
    <strong>Cp:</strong>
    <%= client.cp %>
  </p>

  <p>
    <strong>Puntos:</strong>
    <%= client.puntos %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= client.status %>
  </p>

</div>
