 <div class="container-responsive">
		<div class="table-responsive">
			<div class="table-wrapper">
				<div class="table-title">
					<div class="row">
						<div class="col-xs-6">
							<h2><b>Proveedores</b></h2>
						</div>
						<div class="col-xs-6">
							<%if current_employee.admin?%>
						<%= link_to new_supplier_path, class: "btn btn-success" do %>
							<i class="material-icons">&#xE147;</i> <span>Nuevo proveedor</span>
							<%end%>
							<%end%>
						</div>
					</div>
				</div>
				<table class="table table-striped table-hover">
					<thead>
						<tr>
                            <!-- checar que otros atributos son necesrios para empleados -->
                           <th>ID</th>
							<th>Nombre</th>
							<th>Email</th>
							<th>Teléfono</th>
							<th>Día de llegada</th>
							<th>RFC</th>

						</tr>
					</thead>
					<tbody>

            <% @suppliers.each do |supplier| %>
			<tr>
              <td><%=supplier.id%></td>
							<td><%=supplier.name%></td>
              <td><%=supplier.email%></td>
              <td><%=supplier.phone%></td>
              <td><%=supplier.arrive_date%></td>
              <td><%=supplier.rfc%></td>
			  <%if current_employee.admin?%>
              	<td>
								<%= link_to edit_supplier_path(supplier.id), class: "edit" do%>
								<i class="material-icons edit" data-toggle="tooltip" title="Edit">&#xE254;</i>
								<%end%>
								 <button onclick=<%="togglePasswordInput(#{supplier.id})"%>  class="btn btn-danger" id="delete-supplier-btn">
								<i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
								</button>
								<div id=<%="password-input-#{supplier.id}"%> style="display: none;">
                   <%= form_for supplier, as: :supplier, url: confirm_password_suppliers_path(supplier.id),method: :post do |f|%>
                      <%= f.label :current_password, "Enter your password:" %>
                      <%= f.password_field  :current_password,  class: "form-control", data:{ delete_supplier_target:"password"} %>
                      <%= f.submit   "Confirm", class: "btn btn-primary", id: "delete-supplier", data:{ action: "click->delete-supplier#login"} %>
                </div>
              <%end%>
							</td>
							<%end%>
            <% end %>
						</tr>
					</tbody>
				</table>
		</div>
    </div>
<script>
   function togglePasswordInput(id) {
    let passwordInput = document.getElementById(`password-input-${id}`);
    if (passwordInput.style.display === "none") {
      passwordInput.style.display = "block";
    } else {
      passwordInput.style.display = "none";
    }
  }
</script>
